@charset "UTF-8";
/*=========================  Шрифты  ================================================*/
@font-face {
  font-family: "Mr_kindlyjasmineg";
  src: url("../fonts/mr_kindlyjasmineg.woff2") format("woff2"), url("../fonts/mr_kindlyjasmineg.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  src: url("../fonts/Montserrat-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*=========================  Базовые настройки  ================================================*/
body {
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

/*=========================  header  ================================================*/
.header {
  position: relative;
  padding-top: 26px;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 1052px;
}
.header .header_top {
  display: flex;
  justify-content: space-between;
}
.header .header_top .menu {
  color: #fff;
  font-family: "Montserrat-Medium";
  font-size: 14px;
}
.header .header_top .menu ul {
  display: flex;
  gap: 20px;
}
.header .header_top .menu ul li {
  display: inline-block;
}
.header .main {
  margin-top: 180px;
  margin-bottom: 248px;
  display: flex;
  justify-content: space-between;
}
.header .main .main_header .main_header-title {
  position: relative;
}
.header .main .main_header .main_header-title .title_top {
  color: #fff;
  font-size: 72px;
  font-family: "Montserrat-Bold";
}
.header .main .main_header .main_header-title .title_middle {
  transform: translateY(-57%);
  right: 31px;
  position: absolute;
  font-size: 64px;
  font-family: "Mr_kindlyjasmineg";
  text-align: right;
  color: #ffc700;
}
.header .main .main_header .main_header-title .title_buttom {
  font-size: 96px;
  font-family: "Montserrat-Black", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
}
.header .main .main_header .to_excursions {
  margin-top: 100px;
}
.header .main .main_header .to_excursions .button_to_excursions {
  position: relative;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  height: 50px;
  width: 230px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  color: #fff;
}
.header .main .main_header .to_excursions .button_to_excursions::after {
  top: 50%;
  right: 40px;
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  background-image: url(../img/arrow.svg);
  transform: translateY(-50%);
}
.header .main .social_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header .slider {
  user-select: none;
  position: absolute;
  width: 100%;
  bottom: -100px;
}
.header .slider .header_slider {
  overflow: hidden;
}
.header .slider .header_slider .header_slider_wrap {
  display: flex;
}
.header .slider .header_slider .header_slider_wrap .page {
  flex-shrink: 0;
  width: 360px;
  height: 227px;
  position: relative;
}
.header .slider .header_slider .header_slider_wrap .page .page_content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  background-size: cover;
  background-image: url("../img/header_slider_img_1.jpg");
}
.header .slider .header_slider .header_slider_wrap .page .page_content .play_video_icon {
  cursor: pointer;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

/*=========================  popular_excursions  ================================================*/
.popular_excursions {
  position: relative;
  margin-top: 263px;
}
.popular_excursions .popular_excursions_wrap {
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular_excursions .popular_excursions_wrap .popular_excursions_title {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  color: #0499dd;
}
.popular_excursions .popular_excursions_wrap .see_all .see_all_link {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-decoration-line: underline;
}
.popular_excursions .popular_excursions_slider {
  user-select: none;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap {
  display: flex;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page {
  border-radius: 10px;
  width: 360px;
  height: 497px;
  flex-shrink: 0;
  background-image: url("../img/popular_excursions_slide_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content {
  padding: 0 16px 42px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .type_of_excursion {
  margin-bottom: 2px;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .tour_name {
  margin-bottom: 14px;
  font-size: 14px;
  font-family: "Montserrat-Bold";
  color: #ffc700;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .duration_and_cost {
  margin-bottom: 20px;
  display: flex;
  gap: 13px;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .duration_and_cost .duration {
  position: relative;
  padding-left: 23px;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .duration_and_cost .duration::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-image: url("../img/duration.svg");
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .duration_and_cost .cost {
  position: relative;
  padding-left: 27px;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .duration_and_cost .cost::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-image: url("../img/cost_icon.svg");
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .tour_description {
  margin-bottom: 20px;
}
.popular_excursions .popular_excursions_slider .popular_excursions_slider_wrap .page .page_content .more .more_button {
  position: relative;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  height: 50px;
  width: 230px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  color: #fff;
}
.popular_excursions .popular_excursions_slider .container_for_arrows {
  height: 50px;
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}
.popular_excursions .popular_excursions_slider .container_for_arrows .arrow {
  top: 250%;
  transform: translateY(-50%);
}
.popular_excursions .popular_excursions_slider .container_for_arrows .swiper-button-next {
  left: 80px;
}
.popular_excursions .popular_excursions_slider .progress_line {
  left: 100%;
  transform: translateX(-100%);
  width: 70%;
  position: relative;
  margin-top: 50px;
}

/*=========================  about_us  ================================================*/
.about_us {
  display: none;
  margin-top: 60px;
  position: relative;
}
.about_us .about_us_img {
  width: 75%;
  height: 998px;
  background-image: url("../img/about_us_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.about_us .about_us_main {
  width: 1120px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: flex-end;
}
.about_us .about_us_main .about_us_main_wrap {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 550px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  padding: 60px 85px;
}
.about_us .about_us_main .about_us_main_wrap .about_us_main-title {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #0499dd;
}
.about_us .about_us_main .about_us_main_wrap .about_us_main-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*=========================  types_of_excursions  ================================================*/
.types_of_excursions {
  margin-top: 150px;
}
.types_of_excursions .types_of_excursions-title {
  margin-bottom: 90px;
  font-family: "Montserrat-Bold";
  font-size: 24px;
  color: #0499dd;
}
.types_of_excursions .types_of_excursions-main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
}
.types_of_excursions .types_of_excursions-main .excursion {
  width: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.types_of_excursions .types_of_excursions-main .excursion .excursion_icon {
  flex-shrink: 0;
}
.types_of_excursions .types_of_excursions-main .excursion .excursion_info .name {
  color: #0499dd;
  font-family: "Montserrat-Bold";
  font-size: 18px;
}
.types_of_excursions .types_of_excursions-main .excursion .excursion_info .description {
  font-size: 14px;
  line-height: 17px;
}
.types_of_excursions .prompt_and_button {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.types_of_excursions .prompt_and_button .prompt {
  width: 550px;
  font-size: 14px;
}
.types_of_excursions .prompt_and_button .button_to_excursions {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  height: 50px;
  width: 230px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  color: #fff;
  margin-top: 20px;
}

/*=========================  gallery  ================================================*/
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.gallery {
  margin-top: 150px;
}
.gallery .gallery_top {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}
.gallery .gallery_top .gallery_title {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #0499dd;
}
.gallery .gallery_top .gallery_see_all {
  text-decoration: underline;
}
.gallery .gallery_images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
  grid-auto-rows: 110px;
  grid-auto-flow: dense;
  grid-gap: 16px;
}
.gallery .gallery_images .gallery_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}
.gallery .gallery_images .gallery_image:hover {
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
  animation: pulsate-bck 0.5s ease-in-out both;
}
.gallery .gallery_images .gallery_image:nth-child(1) {
  grid-row: span 2;
  grid-column: span 3;
}
.gallery .gallery_images .gallery_image:nth-child(2) {
  grid-row: span 4;
  grid-column: span 2;
}
.gallery .gallery_images .gallery_image:nth-child(3) {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery .gallery_images .gallery_image:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}
.gallery .gallery_images .gallery_image:nth-child(5) {
  grid-row: span 2;
  grid-column: span 1;
}
.gallery .gallery_images .gallery_image:nth-child(6) {
  grid-row: span 1;
  grid-column: span 2;
}
.gallery .gallery_images .gallery_image:nth-child(7) {
  grid-row: span 2;
  grid-column: span 3;
}
.gallery .gallery_images .gallery_image:nth-child(8) {
  grid-row: span 1;
  grid-column: span 2;
}/*# sourceMappingURL=main.css.map */