@charset "UTF-8";
/*=========================  Шрифты  ================================================*/
@font-face {
  font-family: "Mr_kindlyjasmineg";
  src: url("../fonts/mr_kindlyjasmineg.woff2") format("woff2"), url("../fonts/mr_kindlyjasmineg.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  src: url("../fonts/Montserrat-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*=========================  Базовые настройки  ================================================*/
body {
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

/*=========================  header  ================================================*/
.header {
  position: relative;
  padding-top: 26px;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 1052px;
}
.header .header_top {
  display: flex;
  justify-content: space-between;
}
.header .header_top .menu {
  color: #fff;
  font-family: "Montserrat-Medium";
  font-size: 14px;
}
.header .header_top .menu ul {
  display: flex;
  gap: 20px;
}
.header .header_top .menu ul li {
  display: inline-block;
}
.header .main {
  margin-top: 180px;
  margin-bottom: 248px;
  display: flex;
  justify-content: space-between;
}
.header .main .main_header .main_header-title {
  position: relative;
}
.header .main .main_header .main_header-title .title_top {
  color: #fff;
  font-size: 72px;
  font-family: "Montserrat-Bold";
}
.header .main .main_header .main_header-title .title_middle {
  transform: translateY(-57%);
  right: 31px;
  position: absolute;
  font-size: 64px;
  font-family: "Mr_kindlyjasmineg";
  text-align: right;
  color: #ffc700;
}
.header .main .main_header .main_header-title .title_buttom {
  font-size: 96px;
  font-family: "Montserrat-Black", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
}
.header .main .main_header .to_excursions {
  margin-top: 100px;
}
.header .main .main_header .to_excursions .button_to_excursions {
  position: relative;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  height: 50px;
  width: 230px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  color: #fff;
}
.header .main .main_header .to_excursions .button_to_excursions::after {
  top: 50%;
  right: 40px;
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  background-image: url(../img/arrow.svg);
  transform: translateY(-50%);
}
.header .main .social_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header .slider {
  position: absolute;
  width: 100%;
  bottom: -100px;
}
.header .slider .header_slider {
  overflow: hidden;
}
.header .slider .header_slider .header_slider_wrap {
  display: flex;
}
.header .slider .header_slider .header_slider_wrap .page {
  flex-shrink: 0;
  width: 360px;
  height: 227px;
  position: relative;
}
.header .slider .header_slider .header_slider_wrap .page .page_content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  background-size: cover;
  background-image: url("../img/header_slider_img_1.jpg");
}
.header .slider .header_slider .header_slider_wrap .page .page_content .play_video_icon {
  cursor: pointer;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}/*# sourceMappingURL=main.css.map */