@charset "UTF-8";
/*=========================  Шрифты  ================================================*/
@font-face {
  font-family: "Mr_kindlyjasmineg";
  src: url("../fonts/mr_kindlyjasmineg.woff2") format("woff2"), url("../fonts/mr_kindlyjasmineg.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  src: url("../fonts/Montserrat-Black.ttf") format("TrueType");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*=========================  Базовые настройки  ================================================*/
body {
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

/*=========================  header  ================================================*/
.header {
  background-position: top center;
  background-image: url("../img/tour_overview_001.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
}

.header .header_wrap .header_top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header_wrap .header_top .menu .menu_list {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  display: flex;
  gap: 20px;
  color: #fff;
}

.header .header_wrap .header_main {
  font-family: "Montserrat-Bold";
  margin-top: 180px;
}

.header .header_wrap .header_main .header-tour_type {
  color: #ffc700;
  font-size: 24px;
}

.header .header_wrap .header_main .header-tour_name {
  margin-top: 15px;
  font-size: 48px;
  width: 761px;
  color: #fff;
}

.header .header_wrap .header_main .header_main-buttons {
  font-size: 14px;
  margin-top: 60px;
  display: flex;
  gap: 15px;
}

.header .header_wrap .header_main .header_main-buttons .to_other_guides {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  display: inline-block;
  color: #fff;
  width: 272px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.header .header_wrap .header_main .header_main-buttons .add_to_favorites_form #add_to_favorites {
  display: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header .header_wrap .header_main .header_main-buttons .add_to_favorites_form .add_to_favorites_label {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/tour_overview_add_to_fav.png");
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.header .header_wrap .header_main .header_main-buttons .add_to_favorites_form .label_checked {
  background-image: url("../img/tour_overview_added_to_fav.png");
}

/*=========================  tour_description  ================================================*/
.tour_description {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour_description .description {
  width: 382px;
}

.tour_description .description .description_title {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #0499dd;
}

.tour_description .description .description_text {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Montserrat-Medium";
}

.tour_description .details {
  display: flex;
  justify-content: flex-end;
  gap: 52px;
}

.tour_description .details .detail {
  position: relative;
  width: 178px;
  height: 117px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.tour_description .details .detail::before {
  border-radius: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  background: #ffc700;
}

.tour_description .details .detail .detail_wrap {
  width: 160px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tour_description .details .detail .detail_wrap .detail_main {
  padding-left: 40px;
  position: relative;
  color: #0499dd;
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
}

.tour_description .details .detail .detail_wrap .detail_main::before {
  padding: 1px;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/cost_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tour_description .details .detail .detail_wrap .detail_label {
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.tour_description .details .duration .detail_wrap .detail_main::before {
  background: url("../img/duration.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*=========================  travel_calendar  ================================================*/
.travel_calendar {
  background-image: url("../img/travel_calendar-bg.png");
  background-repeat: no-repeat;
  background-size: 55% auto;
  background-position: left center;
  height: 900px;
}

.travel_calendar .travel_calendar-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: flex-end;
  justify-content: center;
}

.travel_calendar .travel_calendar-wrap .travel_calendar-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  color: #0499dd;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar {
  width: 560px;
  height: 446px;
  background: transparent;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar {
  width: 100%;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--navigation {
  padding: 20px 20px 0 20px;
  font-size: 24px;
  color: #0499dd;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--navigation i {
  color: #0499dd;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--navigation .air-datepicker-nav .air-datepicker-nav--title {
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--navigation .air-datepicker-nav .air-datepicker-nav--action svg path {
  stroke: #0499dd;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content {
  padding: 20px;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .air-datepicker-body--day-names .air-datepicker-body--day-name {
  color: #282828;
  font-size: 18px;
  font-family: "Montserrat-Bold", sans-serif;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .air-datepicker-body--day-name {
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .-days- {
  color: #000000;
  margin-top: 20px;
  grid-row-gap: 25px;
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .-days- .-day- {
  align-items: flex-start;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .-days- .-day- .day_inner {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .-days- .-day- .day_inner .tour_time {
  font-size: 10px;
  color: #0499dd;
}

.travel_calendar .travel_calendar-wrap #travel_calendar-calendar .air_datepicker-travel_calendar .air-datepicker--content .air-datepicker-body .-days- .-selected- {
  background-color: transparent;
  color: #000000;
}

/*=========================  route_description  ================================================*/
.route_description {
  margin-top: 120px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.route_description .route_description_main {
  width: 435px;
}

.route_description .route_description_main .route_description_main-title {
  margin-bottom: 60px;
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #0499dd;
}

.route_description .route_description_main .route_description_main-details {
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.route_description .route_description_main .route_description_main-details .detail {
  position: relative;
  margin: 20px 0;
  padding-left: 38px;
}

.route_description .route_description_main .route_description_main-details .detail::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffc700;
  left: 0;
  top: 2px;
  border-radius: 100%;
}

.route_description .route_description_main .route_description_main-details .detail_title {
  font-family: "Montserrat-Bold", sans-serif;
  margin: 40px 0;
  padding-left: 38px;
}

.route_description .route_description_slider {
  margin-top: 60px;
  position: relative;
  width: 600px;
  overflow: hidden;
}

.route_description .route_description_slider .route_description_slider-wrap {
  user-select: none;
  display: flex;
}

.route_description .route_description_slider .route_description_slider-wrap .page {
  width: 413px;
  height: 570px;
  border-radius: 10px;
  flex-shrink: 0;
}

.route_description .route_description_slider .route_description_slider-wrap .page .page_content {
  padding: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.route_description .route_description_slider .route_description_slider-wrap .page .page_content .page_name {
  color: #ffc700;
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.route_description .route_description_slider .controls {
  margin-top: 30px;
  width: 100%;
  height: 70px;
  position: relative;
}

.route_description .route_description_slider .controls .swiper-button-prev {
  left: 0;
}

.route_description .route_description_slider .controls .swiper-button-next {
  left: 75px;
}

.route_description .route_description_slider .controls .progress_line {
  left: 100%;
  transform: translate(-100%, -50%);
  top: 50%;
  width: 80%;
}

/*=========================  additional_costs  ================================================*/
.additional_costs {
  margin-top: 140px;
  margin-bottom: 140px;
}

.additional_costs .additional_costs_title {
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #0499dd;
}

.additional_costs .extras {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.additional_costs .extras .extra {
  min-width: 178px;
  min-height: 117px;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.additional_costs .extras .extra::before {
  border-radius: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  background: #ffc700;
}

.additional_costs .extras .extra .extra_wrap {
  min-width: 160px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.additional_costs .extras .extra .extra_wrap .extra_main {
  padding-left: 40px;
  position: relative;
  color: #0499dd;
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
}

.additional_costs .extras .extra .extra_wrap .extra_main::before {
  padding: 1px;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/cost_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.additional_costs .extras .extra .extra_wrap .extra_label {
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

/*=========================  additional_costs  ================================================*/
.important_information .important_information_title {
  margin-bottom: 90px;
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #0499dd;
}

.important_information .important_information_main {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.important_information .important_information_main .required_documents {
  width: 550px;
}

.important_information .important_information_main .required_documents .required_documents_subtitle {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
}

.important_information .important_information_main .required_documents .documents_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.important_information .important_information_main .required_documents .documents_list .required_document {
  position: relative;
  min-height: 68px;
  padding-left: 95px;
}

.important_information .important_information_main .required_documents .documents_list .required_document::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background: url("../img/required_document_icon.svg");
  top: 0;
  left: 0;
}

.important_information .important_information_main .required_documents .documents_list .required_document .document_name {
  color: #0499dd;
  font-size: 18px;
  font-family: "Montserrat-Bold", sans-serif;
}

.important_information .important_information_main .required_documents .documents_list .required_document .document_descriptin {
  margin-top: 20px;
}

.important_information .important_information_main .notes {
  width: 358px;
  display: flex;
  flex-direction: column;
  gap: 47px;
  font-size: 14px;
  font-family: "Montserrat-Medium", sans-serif;
}

.important_information .important_information_main .notes .note {
  position: relative;
  padding: 23px 58px 23px 25px;
}

.important_information .important_information_main .notes .note::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 73px;
  background: url("../img/!.svg");
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*=========================  gallery  ================================================*/

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.gallery {
  position: relative;
  margin-top: 150px;
}

.gallery .gallery_top {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.gallery .gallery_top .gallery_title {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #0499dd;
}

.gallery .gallery_top .gallery_see_all {
  text-decoration: underline;
}

.gallery .gallery_images {
  padding: 0 26px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11%, 1fr));
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  grid-gap: 26px;
}

.gallery .gallery_images .gallery_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}

.gallery .gallery_images .gallery_image:hover {
  animation: pulsate-bck 0.5s ease-in-out both;
}

.gallery .gallery_images .gallery_image:nth-child(1) {
  grid-row: span 2;
  grid-column: span 3;
}

.gallery .gallery_images .gallery_image:nth-child(2) {
  grid-row: span 4;
  grid-column: span 2;
}

.gallery .gallery_images .gallery_image:nth-child(3) {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery .gallery_images .gallery_image:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery .gallery_images .gallery_image:nth-child(5) {
  grid-row: span 2;
  grid-column: span 1;
}

.gallery .gallery_images .gallery_image:nth-child(6) {
  grid-row: span 1;
  grid-column: span 2;
}

.gallery .gallery_images .gallery_image:nth-child(7) {
  grid-row: span 2;
  grid-column: span 3;
}

.gallery .gallery_images .gallery_image:nth-child(8) {
  grid-row: span 1;
  grid-column: span 2;
}

.pop_up_for_gallery {
  padding: 0 12px;
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.pop_up_for_gallery .pop_up-content {
  position: relative;
}

.pop_up_for_gallery .pop_up-content .pop_up-close {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  top: 5px;
  right: 5px;
  position: absolute;
  padding: 0;
  border: none;
}

.pop_up_for_gallery .pop_up-content .pop_up-close img {
  width: 30px;
  height: 30px;
}

/*=========================  reviews  ================================================*/
.reviews {
  margin-top: 149px;
}

.reviews .reviews_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews .reviews_wrap .reviews_title {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  color: #0499dd;
}

.reviews .reviews_wrap .see_all {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-decoration-line: underline;
}

.reviews .reviews_slider {
  user-select: none;
  overflow: hidden;
}

.reviews .reviews_slider .reviews_slider_wrap {
  padding-bottom: 80px;
  display: flex;
}

.reviews .reviews_slider .reviews_slider_wrap .page {
  flex-shrink: 0;
}

.reviews .reviews_slider .reviews_slider_wrap .page .page_content {
  padding: 38px 0px 38px 0px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviews .reviews_slider .reviews_slider_wrap .page .page_content .review_avatar {
  width: 245px;
  flex-shrink: 0;
}

.reviews .reviews_slider .reviews_slider_wrap .page .page_content .review_main {
  background-position: 80% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/review_bg.png");
}

.reviews .reviews_slider .reviews_slider_wrap .page .page_content .review_main .name_and_age {
  font-size: 14px;
  font-family: "Montserrat-Bold";
}

.reviews .reviews_slider .reviews_slider_wrap .page .page_content .review_main .review_text {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Montserrat-Medium";
}

.reviews .reviews_slider .container_for_arrows {
  height: 50px;
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}

.reviews .reviews_slider .container_for_arrows .arrow {
  top: 20px;
  transform: translateY(-50%);
}

.reviews .reviews_slider .container_for_arrows .swiper-button-next {
  left: 80px;
}

.reviews .reviews_slider .progress_line {
  left: 100%;
  transform: translateX(-100%);
  width: 72%;
  position: relative;
}
/*# sourceMappingURL=tour_overview.css.map */